@import "../Variables";

.slide{
    top: $top30;
}

.slide img{
    height: $H100;

    @media screen and (max-width: 833px){
        &{
        height: $H50;
        }
    }
}  

.carousel{

    &-control-prev{
        top:$top;
    }

    &-control-prev-icon{
        height: $H4r;
        width: $H4r;
        
    }

    &-control-next{
        top:$top;
    }

    &-control-next-icon{
        height: $H4r;
        width: $H4r;
    }

    #carouselExampleControls{
        margin: auto 150px;
    }

    &-inner{
        border-radius: 50px;
    }

    @media screen and (max-width: 653px) {
        .form-control {
            width: 65%;
        }       
        
        &-control-prev {
            top: 10px;
        }
        &-control-next {
            top: 10px;
        }
        
        #carouselExampleControls {
            margin: auto 10px;
        }

        h5 {
            font-size: 25px;
        }
    }
}






