@import "../Variables";

.header__gradiente{
    background: map-get($map: $colores, $key:"gradiente" );
    background: radial-gradient(circle, rgba(39,28,24,1) 0%, rgba(32,41,210,0.8183648459383753) 85%);
}

.collection {
    width: 50%;
    margin:25px auto;
    @extend .flex;
    justify-content: space-around;
    gap: 15px;

    @media screen and (max-width: 560px){
        & {
            width: 100%;
            margin: auto;
        }
    }

    .btn-primary:hover{
        transform:translateX(15px);
        transition: .3s;
     }

}