@import "../Variables";

.header__gradiente{
    background: map-get($map: $colores, $key:"gradiente" );
    background: radial-gradient(circle, rgba(39,28,24,1) 0%, rgba(32,41,210,0.8183648459383753) 85%);
}

.collection {
    width: 50%;
    margin:25px auto;
    @extend .flex;
    justify-content: space-around;
    gap: 15px;

    @media screen and (max-width: 560px){
        & {
            width: 100%;
            margin: auto;
        }
    }

    .btn-primary:hover{
        transform:translateX(15px);
        transition: .3s;
     }

}

.Titulo{
    margin: 25px auto;
    background-color: rgba(239, 247, 247, 0.912);
    width: 450px;
    padding: 10px;
    border-radius: 25px;

    @media screen and (max-width: 470px){
        width: 350px;
    }

    @media screen and (max-width: 360px){
        width: 300px;
    }

    h4,h1{
        text-align: center;
        font-family: 'Concert One', cursive;
    }
}