@import "../Variables";

.FOOTER{
    position: relative;
    bottom: -150px;
    width: auto;
    background-color:map-get($map: $colores, $key:"footer" );


    &__logo{
        display: block;
        margin: 0px auto;
        width: 50px;
    }
    
    &__texto{
        text-align: center;
        font-family: 'Concert One', cursive;
        font-size: 15px;
        padding: 5px;
    }

}

