@import"../Variables";

.card-boot1{
    margin: 20px 90px;
    background-color: #d0ebbc;
}

.row{
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 25px;

    .card{
        border-width: 12px;
        border-color:#d0ebbc;
    }

}






