*{
    padding: 0;
    margin: 0;
}

body{
    background-color: rgb(245, 239, 231);
    position: relative;
    padding-bottom: 3em;
    min-height: 100vh;
}

/*COMIENZA INDEX*/
@import "./PartesCSS/NAV"; //TAMBIEN NAV DE LAS DEMAS SECCIONES
@import "./PartesCSS/NOS";
@import "./PartesCSS/CAROUSEL";
@import "./PartesCSS/HERO";
/*TERMINA INDEX*/

/*COMIENZA CATALOGO*/
@import "./PartesCSS/CATALOGOS";
/*TERMINA CATALOGO*/

/*EMPIEZA REPARACION*/
@import "./PartesCSS/REPARACION";
/*TERMINA REPARACION*/

/*EMPIEZA CONTACTO*/
@import "./PartesCSS/CONTACTO";
/*TERMINA CONTACTO*/

/*EMPIEZA NOVEDADES*/
@import "./PartesCSS/NOVEDADES"; //el tamaño de la imagen no coinciden , lo deje asi porque me gusta el diseño.
/*TERMINA NOVEDADES*/ 

/*COMIENZA BOTON WHATSAPP*/
@import "./PartesCSS/WHATSAPP";
/*TERMINA BOTON WHATSAPP*/

@import "./PartesCSS/MENU";

/*COMIENZA FOOTER*/
@import "./PartesCSS/FOOTER"; //mismo footer para todas las secciones
/*TERMINA FOOTER*/

