*{
    padding: 0;
    margin: 0;
}

body{
    background-color: rgb(245, 239, 231);
    position: relative;
    padding-bottom: 3em;
    min-height: 100vh;
}

/*COMIENZA INDEX*/
@import "./PartesCSS/NAV"; //TAMBIEN NAV DE LAS DEMAS SECCIONES
@import "./PartesCSS/NOS";
@import "./PartesCSS/CAROUSEL";
@import "./PartesCSS/HERO";
/*TERMINA INDEX*/

/*COMIENZA CATALOGO*/
@import "./PartesCSS/CATALOGOS";
/*TERMINA CATALOGO*/

/*EMPIEZA REPARACION*/
@import "./PartesCSS/REPARACION";
/*TERMINA REPARACION*/








/*COMIENZA FOOTER*/
@import "./PartesCSS/FOOTER";
/*TERMINA FOOTER*/










     


















/*EMPIEZA CONTACTO*/

.contacto__gradiente{
    background: rgb(39,28,24);
    background: radial-gradient(circle, rgba(39,28,24,1) 0%, rgba(32,41,210,0.8183648459383753) 85%);
}

h3{
    text-align: center;
    font-family: 'Concert One', cursive;
    padding: 16px;
    font-size: 25px;
}

.form__contacto{
    display: grid;
    justify-content: center;
    align-content: center;
    width: 435px;
    background-color: aliceblue;
    margin: 50px auto;
    border-radius: 20px;
}

.label__contacto{
    padding: 7px;
    margin: 0 auto;
    
}

.label__contacto1{
    display: grid;
    margin: 0 auto;
}

h4{
    text-align: center;
    padding: 7px;
    font-family: 'Concert One', cursive;
}


textarea{
    background-color: #fbfbfb; 
    width: 407px; 
    height: 150px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 2px; 
    border-color: 2px solid #27439f; 
    margin-top: 10px;  
    margin-left: 10px;
    margin-bottom: 20px; 
    padding-top: 15px; 
}

input{
    background-color: #fbfbfb; 
    width: 408px; 
    height: 40px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 2px; 
    border-color: 2px solid #27439f; 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
} 

#button1{
    height: 30px; 
    padding-left: 5px;
    padding-right: 5px;   
    margin-bottom: 20px; 
    margin-top: 10px; 
    margin-left: 65px;  
    background-color: #b2a6f5; 
    border-color: #3c42af; 
    border-style: solid; 
    border-radius: 10px;  
    width: 300px;   
    cursor: pointer;
    font-family: 'Concert One', cursive;
}

.campos__contacto{
    font-family: 'Concert One', cursive;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.form__h1{
    text-align: center;
    font-family: 'Concert One', cursive;
    margin-top: 60px;
    font-size: 38px;
}   

.form__h4{
    font-size: 15px;
}

.form-control{
    width: 95%;
}


/*TERMINA CONTACTO*/

.card-boot2{
    margin: 35px 80px;

}

.card-boot1{
    margin: 10px 30px;
}

.card{
    background-color: #d0ebbc;
}

h5{
    font-size: 35px;
}

.card-img-overlay {
    top: -13px;
    left: -12px;
}    




@media screen and (max-width: 1024px){
    
    .main__imagen{
        width: 300px;
        align-items: center;
    }

    .tutorep{
        margin: 2px;
    }
    
    .video__resp {
        overflow:hidden;
        padding-bottom:400px;
        position:relative;
        height:0;
        
    }
    .video__resp iframe{
        left:0;
        top:0;
        height:100%;
        width:100%;
        position:absolute;
    }

    .imagenes__taller{
        display: grid;
        grid-template-columns: 400px ;
    }
    
    .index__galeria{
        display: grid;
        grid-template-columns:repeat(2, 1fr);
        grid-auto-rows: 317px;
        grid-gap: 6px;
        margin-top: 40px;
        margin-left: 45px;
        margin-right: 45px;
        
    } 

    #carouselExampleControls{
        margin: auto 100px;
    }

    .img_prox2{
        padding: 3px;
        grid-template-columns: 1fr;
        margin-top: 15px;
            
        }

    .img_prox2 img{
            
            width: 70%;
        }

    .img_prox2 p{
        text-align: center;
        font-size: 23px;
    }

    .img__reparacion{
        grid-template-columns:repeat(1, 400px);
        padding-left: 95px;
        padding-right: 95px;
        margin-top: 60px;
    }   
    
    
}

@media screen and (max-width: 833px){

    .hero__main{
            grid-template-columns: 1fr;
            grid-template-rows: max-content max-content;
        }

    .HERO__picture{
            grid-row: 1/2;
        }

    .hero__img{
            max-width: 500px;
            display: block;
            margin: 0 auto;
        }

    .slide img{
            height: 70vh;
            width: 100vw;
        }
        
    .carousel-control-prev{
            top:10px;
        }
        
    .carousel-control-next{
            top:10px;
        }    
    
    .form-control{
            width: 65%;
        } 
        
    h5{
        font-size: 25px;
    }    

    #carouselExampleControls{
        margin: auto 40px;
    }
}

@media screen and (max-width: 653px){

    .NOS__nosotros{
        text-align: center;
        font-size: 20px;
        font-family: 'Gogh', sans-serif;
        margin: 20px auto;
        width: 298px;
    } 

    .index__galeria{
        display: grid;
        grid-template-columns:repeat(1, 1fr);
        grid-auto-rows: 317px;
        grid-gap: 6px;
        margin-top: 40px;
        margin-left: 45px;
        margin-right: 45px;
    }

    .contactolink{
        text-align: center;
        color: rgb(241, 242, 236);
        font-size: 20px;
    }    

    #h1_repa{
        font-size: 25px;
    } 
    
    .form__contacto{
        width: 335px;
    }

    form{
        width: 320px;
    }

    textarea{
        width: 310px; 
        height: 150px; 
        margin-left: 0%;
    }

    #button1{
        margin-left: 3%;

    }
    
    input{
        width: 235px; 
        height: 40px; 
        
    }

    .form__h1{
        text-align: center;
        font-family: 'Ipad 25', sans-serif;
        margin-top: 60px;
        font-size: 30px;
    }   

    .form__h4{
        font-size: 12px;
    }

    .slide img{
        height: 45vh;
    }

    .carousel-control-prev{
        top:10px;
    }
    
    .carousel-control-next{
        top:10px;
    } 

    .form-control{
        width: 100%;
    } 

    h5{
        font-size: 18px;
    }   

    .carousel #carouselExampleControls {
        margin: auto 23px;
    }
}    